<div class="projekt_container">
    <h2>Projekttitel</h2>
    <div class="projekt_img">
        <img src="images/robomaster.jpg" alt="images/robomaster.jpg" width="400" height="300">
    </div>
    <p>Beschreibung der Projekt</p>
</div>

<div class="projekt_container">
    <h2>Projekttitel</h2>
    <div class="projekt_img">
        <img src="images/kimas.jpg" alt="images/robomaster.jpg" width="400" height="300">
    </div>
    <p>Beschreibung der Projekt</p>
</div>