{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body%}
    {{ include('Navigation/_horizoltal_nav_bar.html.twig')}}
    <div class="main">
        <div class="grid">
            <h2>Code&Connect</h2>
            <div class="row">
                <article class="article-large" style="background-image: url('images/RoboBachelor.jpg')">
                    <p class="meta">SOFTWARELÖSUNG FÜR MOBILITÄT ROBOTER</p>
                    <h3>Guter Einsatz für Überwachungsroboter.!</h3>
                    <p class="meta">vor 2 Tagen . #Mobile Roboter . 461 . 99</p>
                </article>
                <article class="article-middle" style="background-image: url('images/RoboMaster.jpg')">
                    <p class="meta">VOM RASPBERRY PI ZUM INTELLIGENTEN ROBOTER.</p>
                    <h3>Die Mischung macht's</h3>
                    <p class="meta">vor 5 Tagen . #Innovation . 211 . 23</p>
                </article>
            </div>

            <div class="row">
                <article class="article-small" style="background-image: url('images/RaspberryPi2.jpg')">
                    <p class="meta">RASPBERRY PI ALS MINI RECHNER</p>
                    <h6>Raspberry Einsatz im Automobile</h6>
                    <p class="meta">vor 8 Tagen . #Vehicle Motion . 507 . 44</p>
                </article>
                <article class="article-small" style="background-image: url('images/Arduino_Relay.jpg')">
                    <p class="meta">PFALANZENALTERUNG MIT ARDUINO</p>
                    <h6>"automatische Pflanzenalterung mit Arduino"</h6>
                    <p class="meta">vor 3 Tagen . #Pflanzen . 113 . 96</p>
                </article>
                <article class="article-small" style="background-image: url('images/ZeroCam.jpg')">
                    <p class="meta">CAMERA OF RASP</p>
                    <h6>Die Dankbarkeit der Raspberry Pi Camera Modul</h6>
                    <p class="meta">vor 9 Tagen . #Raspberry . 401 . 35</p>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
