{# Templates extend from base template  #}
{% extends 'base.html.twig' %}

{% block title %}Aplication{% endblock %}

{% block body %}
    {{ include('Navigation/_horizoltal_nav_bar.html.twig') }}
    <div class="main">
        {{ include('Navigation/_vertical_nav_bar.html.twig') }}
        <div class="projekt">
            <div class="content_header">
                <table>
                    <td class="content_title"><h2>Projekte_List</h2></td>
                    <td class="content_navigator"></td>
                    <td class="content_symbol">
                        <img src="/images/document-pdf.svg" title="PDF export">
                        <img src="/images/document-X.svg" title="Excel export">
                        <img src="/images/settings.svg" title="Setting">
                    </td>
                </table>
            </div> 

            <div class="add_projekt">
                <button onclick="location.href='/application/new';" title="Hinzufügen neu Projekt">
                    <img src="/images/list-view-add.svg">
                </button>
            </div>

            <div id="vueOptionApi" data-csrf-token="{{ csrf_token('list_projekte') }}">
                <project-tables></project-tables>
            </div>
        </div>
    </div>


{% endblock %}
