{# Templates extend from base template  #}
{% extends 'base.html.twig' %}

{% block title %}Projekt{% endblock %}

{% block body %}
    {{ include('Navigation/_horizoltal_nav_bar.html.twig') }}
    <div class="main">
        {{ include('Navigation/_vertical_nav_bar.html.twig') }}
        <div class="projekt">

            <div id="addProject" data-csrf-token="{{ csrf_token('add_projekte') }}">
                <project-add></project-add>
            </div>

        </div>
    </div>

{% endblock %}
