// Variables
:root {
  --success-color: green;
  --error-color: red;
}

// Reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

// Alert Message
.alert_error_message {
  width: 800px;
  height: 40px;
  background: orangered;
  border: none;
  border-radius: 10px;
  text-align: center;
  color: white;
  padding-top: 10px;
  font-size: large;
}

// Container Styles
.container {
  width: 400px;
  border: none;
  border-radius: 10px;
  background: white;
  padding: 40px;
  font-family: Arial, serif;

  h1 {
    text-align: center;
  }

  .user_info {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;

    & > div {
      width: 100%;
      padding-top: 30px;
      position: relative;

      span {
        position: absolute;
        width: 0%;
        left: 0;
        top: 68px;
        border-bottom: 3px solid #3ca7ee;
        transition: 0.4s;
      }
    }

    input {
      width: 100%;
      height: 40px;
      border: none;
      outline: none;
      border-bottom: 2px solid #dadada;
      font-family: Arial, serif;
      font-size: 15px;

      // Sibling selector for focus effect
      &:focus ~ span {
        width: 100%;
      }
    }
  }

  // Button styles inside container
  button {
    width: 100%;
    border: none;
    border-radius: 20px;
    color: white;
    background: #3ca7ee;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    margin-top: 40px;
    text-align: center;
  }

  &:hover button {
    cursor: pointer;
  }

  .footer {
    margin-top: 30px;
    text-align: center;
  }
}

// Error text
small.error {
  color: #d83c3c;
  text-decoration: none;
}