<div class="hardware_nav">
    <ul>
        <li><a class="local_list active" href="/hardware/local/list">Local</a></li>
        <li><a class="api_list" href="/hardware/api/list">API</a></li>
    </ul>
</div>